.topBarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quiz-container {
  height: 50px;
  width: 50%;
  position: absolute;
}

.choice {
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}
